.bottom {
    height: 150px;
    background-color: #312450;
}

.mat-button-base {
    margin: 8px 8px 8px 0;
}

.playername {
    text-align: center;
}

.points {
    height: 70px;
    margin-top: 5px;
    text-align: center;
    font-size: 50px;
}

.points-management {
 
}