

<div>
  <button mat-button *ngFor="let song of songs" (click)="load(song.id)">{{song.id}}</button>
</div>

<div class="example-button-row">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-fab color="accent" (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-fab color="accent" (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-fab color="accent" (click)="stop()">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
</div>
