<mat-drawer-container class="sidebar-container">
    <mat-drawer mode="side" opened class="sidebars-background-color">
        <mat-nav-list class="navigation">
            <a mat-list-item [routerLink]="['/music', 1]">Wer ist das?</a>
            <a mat-list-item routerLink="/">Testquiz</a>
            <a mat-list-item routerLink="/">Namenstage</a>
            <a mat-list-item routerLink="/">Aufrufen</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content-background-color">
        <div class="wrapper">
            <router-outlet></router-outlet>
            <div class="push"></div>
        </div>
        <app-player-tracker></app-player-tracker>
    </mat-drawer-content>
</mat-drawer-container>
